*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    h1 {
        color:aquamarine;
    }

    /* Navbar */

    .navbar > .container {
        background-color: rgba(18, 70, 96, 0.4);
        
    }

    .navbar > .container > a > img {
        background-color: #124660;
        border-color: #F4EBD6;
        border-style: solid; 
        border-width: 1.2px;
        border-radius: 18px;
    } 


    .navbar li .nav-link {
        color: #F4EBD6; 
    }

    .navbar li .nav-link:hover {
        background-color: rgba(18, 70, 96, 0.4);
        border-radius: 16px;
    }


    /* couleur du toggler buton en mobile  */

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28244, 235, 214, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbar-toggler {
        border: 1px solid #F4EBD6
    }

    /* body */



   
    