* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Conteneur principal du film */
.container_movie {
    max-width: 100%; /* largeur maximale a choisir */
    width:75%;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    filter: brightness(100%);
}

#movie-section {
    background-image: url('/bRm2DEgUiYciDw3myHuYFInD7la.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
}

/* Affiche */
#poster {
    margin-top: 50px;
    width: 500px;
    height: 600px;
    object-fit:cover;
    border-radius: 10px;
}

/* Infos film à droite de l'affiche */
.movie-info {
    margin-top: 200px;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    max-height: 656px;/* même hauteur que l'affiche */
    color:#f4ebd6;
    gap: 10px;
}

.movie-info h2 {
    color: #f4ebd6;
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.movie-info p,
.movie-info span {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #f4ebd6;
}

/* Genres en badges */
.movie-info #genres span {
    margin-right: 5px;
    color: bisque
}

/* Synopsis avec scroll  */
#overview {
    flex-grow: 1;
    overflow-y: auto;
}

#tagline {
    color: #f4ebd6;
}
/* Optionnel : scrollbar pour le synopsis
#overview::-webkit-scrollbar {
    width: 6px;
} */

#overview::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
}

/* -----------------------------Conteneur du bas de page----------------------------------------- */
.contenu-bas {
    background: linear-gradient(308deg, rgba(18, 70, 96, 1) 46%, rgba(27, 148, 118, 1) 100%, rgba(199, 219, 194, 1) 93%);
    padding: 30px 0;
    background-size: cover;
}

h3 {
    text-align: center;
    color: #f4ebd6;
}

/* Conteneur cartes */
#cast-section {
    display: flex;              /* cartes en ligne */
    gap: 15px;
    overflow-x: auto;           /* scroll horizontal */
    overflow-y: hidden;         
    padding-bottom: 10px;
    -webkit-overflow-scrolling: touch; /* scroll fluide pour version mobile */
    scroll-behavior: smooth;    /* scroll fluide (optionnel) */
    -ms-overflow-style: none;   
    scrollbar-width: none;      
}

#cast-section::-webkit-scrollbar {
    display: none;              /* Chrome, Safari, Opera */
}

/* Cartes acteurs : image à gauche, texte à droite */
#cast-section .cast-card {
    display: flex;
    flex: 0 0 auto;            
    width: 329px;              
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    gap: 10px;              
}

/* Image à gauche */
.cast-card img {
    width: 120px;
    height: 182px;
    object-fit: cover;
    border-radius: 10px;
}

/* Texte (nom au-dessus, rôle en dessous) */
.cast-card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Nom acteur */
.cast-card h5 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

/* Rôle acteur */
.cast-card p {
    margin: 5px 0 0 0;
    color: #555;
    font-size: 14px;
    text-align: center;
}

footer {
    text-align: center;
    align-items: center;
    color: #f4ebd6;
}

